<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="resultsOpenHandler" name="Open Existing Results" schema="schema/resultsOpenHandler.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.dawnsci.commandserver.category"
            class="org.dawnsci.commandserver.ui.view.StatusQueueView"
            icon="icons/computer--arrow.png"
            id="org.dawnsci.commandserver.ui.queueView"
            name="Queue"
            restorable="true">
      </view>
      <category
            id="org.dawnsci.commandserver.category"
            name="Command Server"
            parentCategory="uk.ac.diamond.scisoft.analysis.rcp">
      </category>
      <view
            category="org.dawnsci.commandserver.category"
            class="org.dawnsci.commandserver.ui.view.ConsumerView"
            icon="icons/hand-share.png"
            id="org.dawnsci.commandserver.ui.consumerView"
            name="Active Consumers"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawnsci.commandserver.ui.preference.CommandInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.diamond.scisoft.ispybexplorer.rcp.category"
            class="org.dawnsci.commandserver.ui.preference.ActiveMQPage"
            id="org.dawnsci.commandserver.ui.activemqPage"
            name="Command Server Configuration">
      </page>
   </extension>

</plugin>
